<app-top-bar-menu></app-top-bar-menu>
<div id="layoutSidenav">
    <app-side-bar-menu></app-side-bar-menu>
    <div id="layoutSidenav_content">
        <router-outlet></router-outlet>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted"></div>
                    <div><a>Jogja Development Lab</a></div>
                    
                </div>
            </div>
        </footer>
    </div>
</div>