
<nav class="sb-topnav navbar navbar-expand navbar-light bg-dark-1">
    <a class="navbar-brand" >
        <img id="logo-bca" src="../assets/main/img/logo-bca.png">
    </a> 
    <button class="btn btn-link btn-sm order-1 order-lg-0 text-grey" id="sidebarToggle" (click)="onMenu()"><i class="fas fa-bars fa-1x "></i></button>
    <ul class="navbar-nav form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
        <li class="top-bar-font">{{  nama }}</li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="userDropdown"  role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user fa-fw icon-top-bar" ></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                <!-- <a class="dropdown-item" (click)="onProfile()">Profile</a>
                <div class="dropdown-divider"></div> -->
                <a class="dropdown-item" (click)="onLogout()">Logout</a>
            </div>
        </li>
    </ul>
</nav>
    
    