<div id="layoutSidenav_nav"  >
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion" >
        <div class="sb-sidenav-menu scrollbar" >
            <div class="nav overflow"> 
                <div class="nav-brand">
                    <img src="../assets/main/img/jdl_logo.png" height="186" width="100">
                    
                </div> 
                <div class="nav-app bg-secondary text-white">
                    My JDL
                </div>
                <div class="sb-sidenav-menu-heading">
                    Menu
                </div>
                <a class="nav-link collapsed" data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon"><i class="fas fa-receipt"></i></div>
                    Reimburse
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" (click)="showReimburseManagement()">Management</a>
                        <a class="nav-link" (click)="showReimburseSummary()">Summary</a>
                    </nav>
                </div>
                <!-- <a class="nav-link" (click)="showInventory()" >
                    <div class="sb-nav-link-icon">
                        <i class="fas fa-boxes"></i>
                    </div>
                    Inventory
                </a> -->
            </div>    
        </div>
    </nav>
</div> 
 
